<h2 *ngIf="pdfTitle">{{ pdfTitle }}</h2>
<p *ngIf="pdfUrl">Loading PDF...</p>

<div class="pdf-wrapper">
  <div class="pdf-header">
    <span>Page </span>
    
     <!-- Clickable input to jump to page -->
    <input 
      type="number" 
      [value]="currentPage" 
      (change)="jumpToPage($event.target.valueAsNumber)" 
      min="1" 
      [max]="totalPages"
      style="width: 60px;"
    />

    <span> / {{ totalPages }}</span>

    <button mat-flat-button
      (click)="bookmarkPage()"
      style="margin-left: 8px;">
      Bookmark
    </button>
  </div>

  <ngx-extended-pdf-viewer
    *ngIf="pdfUrl"
    [src]="pdfUrl"
    height="90vh"
    assetsFolder="assets"
    zoom="page-fit"
    (pageChange)="onPageChange($event)"
    (pagesLoaded)="onPdfLoad($event)">

    <ng-template ngxExtendedPdfViewerToolbar>
    </ng-template>
  </ngx-extended-pdf-viewer>

</div>
